build/
*/build/
*-build/
debug/
release/
*.exe
*.obj
*.o
*.log
*.ilk
*.pdb
*.user
*.pro.user
*.pro.user.*
*.autosave
.qtc_clangd/
.qtcreator/
CMakeLists.txt.user
CMakeLists.txt.user.*
*.creator.user
*.creator.user.*
.DS_Store
Thumbs.db
